<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin categories</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {{!-- <script src="script.js"></script> --}}
    
</head>
<body><br/>
<div class="container" id="cats">
    {{!-- <div class="row">
        <div class="col"></div>
        <div class="col-6"></div>
        <div class="col"></div>

    </div> --}}
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-3"><input id="catname" class="form-control" type="text" placeholder="Name"></div>
        <div class="col-3"><input id="taxper" class="form-control" type="text" placeholder="Tax percent"></div>
        <div class="col"><button class="btn btn-primary" id="addcat">Add Category</button></div>
    </div>
</div>
<script>
    $(function(){
        (function(){
             $.get('/allcats',(cats)=>{
            let str=''
            let p=''
            $('#cats').empty()
            $('#procat').empty()
            for(let i=0;i<cats.length;i++){
                str+=`<div class="alert alert-primary" role="alert">
                <div class="row">
                <div class="col-6">${cats[i].catName}</div>
                <div class="col-3">${cats[i].taxper}%</div>
            </div></div>
                `
                if(i==0){
                    p+=`<option selected>${cats[i].catName}</option>`
                }
                else{
                    p+=`<option>${cats[i].catName}</option>`
                }
            }
            $('#cats').append(str)
            $('#procat').append(p)
        })
        })()
        $('#addcat').click(function(){
        $.get(`/addcat?name=${$('#catname').val()}&taxper=${$('#taxper').val()}`,(cata)=>{
            $('#cats').append(`<div class="alert alert-primary" role="alert">
            <div class="row">
        
        
            <div class="col-6">${cata.catName}</div>
            <div class="col-3">${cata.taxper}%</div>
        

    </div></div>`)
        })
    })
    })
</script>
</body>
</html>