<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin categories</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {{!-- <script src="script.js"></script> --}}
    
</head>
<body><br/>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-3"><label for="userid">User ID</label><input id="userid" class="form-control" type="number"></div>
        <div class="col-3"><div class="form-group">
    <label for="msg">Message</label>
    <textarea class="form-control" id="msg" rows="3"></textarea>
  </div></div>
        <div class="col"><button class="btn btn-primary" id="sendnot">Send notification</button><br/><br/>
        <button class="btn btn-primary" id="sendtoall">Send to all</button>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#sendnot').click(function(){
            $.get(`/sendnot?usid=${$('#userid').val()}&msg=${$('#msg').val()}`,(x)=>{
            window.alert('Send successful')
        })
        })
        $('#sendtoall').click(function(){
            $.get(`/sendall?msg=${$('#msg').val()}`,(x)=>{
                window.alert('Sent to all users')
            })
        })
    })
</script>
</body>
</html>