<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Shop</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {{!-- <script src="script.js"></script> --}}
    <style>
        body{
            background: #fff;
            }
            .box {
            transition: box-shadow .3s;
            width: 100%;
            margin: 10px;
            border-radius:10px;
            border: 1px solid #ccc;
            background: #fff;
            float: left;
            
            }
            .box:hover {
            box-shadow: 0 0 20px rgba(33,33,33,.2); 
            }


                        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            }

            .item {
            position: relative;
            overflow: hidden;
            }
            .item img {
            max-width: 100%;
            
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            }
            .item:hover img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            }
            
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
                            <h3 class="navbar-brand" style="font-size:22px">Shopping app</h3>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                          
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto" id="ad">
                                <li class="nav-item active">
                                  <a class="nav-link"><span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link"></a>
                                </li>
                                
                                <li class="nav-item">
                                  
                                </li>
                                {{#if isAdmin}}
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                    ADMIN pages
                                   </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/admin/categories">Categories</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/admin/products">Products</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/admin/requests">Requests</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/admin/notifications">Notifications</a>
                                  </div>
                                </li>
                                {{/if}}
                              </ul>
                              <div class="btn-group">
                                            <button id="noti" type="button" class="btn btn-secondary">Notifications</button>
                                            <button id="drop" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" id="dropdown">
                                               <button class="dropdown-item" id="clearnots" onclick=clrnots(this)>Clear all</button>
                                               
                                            </div>
                                            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              
                              <select class="custom-select" id="srch"></select>&nbsp;
                            <button class="btn btn-outline-danger my-2 my-sm-0" style="color:white" id="srchbtn">Search by category</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="visibility: hidden;height:0px" id="uid">{{user.id}}</span>
                              <form class="form-inline my-2 my-lg-0">
                                  
                                  <a href="/" id="lgout" class="btn btn-warning">Logout</a>&nbsp;&nbsp;&nbsp;
                                  <a href="/cart" class="btn btn-success">Go to cart</a>&nbsp;&nbsp;&nbsp;
                                <h5 style="color:white">Hello <span id="uname">{{user.username}}</span></h5>
                              </form>
                            </div>
                    </nav>
                    
                    <nav class="navbar navbar-light bg-light navbar-expand-lg">
                        <div class="container-fluid">
                            <div class="row">
                            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <input class="form-control mr-sm-2" type="search" id="prodsrch" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <button class="btn btn-outline-success my-2 my-sm-0" id="psrchbtn">Search for products</button>
                            </div>
                            <div class="col"></div>
                            
                        </div>
                        </div>
                        
                        <a href="/user/profile" target="_blank" class="btn btn-danger">Profile</a>
                        
                        
                    
                    </nav>
                    
    <br/>
    
    <div class="container" id="srchcon" style="visibility:hidden;border:3px rgb(116, 231, 116) dashed">
        <div class="row"> <div class="col" id="srchtxt">Search results</div></div>
        <div class="row pt-3" id="srchmain">

        </div>
    </div><br/><br/>
    

<div class="container">
    <div class="row" id="main">
        
    </div>
</div>
<br/><br/><br/>
<footer class="footer">
      <div class="container">
          <div class="row text-center">
              <div class="col"><span class="text-muted">You have reached the end :) </span></div>
              
              

              
          </div>
        
      </div>
      <br/>
    </footer>
    
<script>
    $(function(){
        (function(){
             $.get('/allpros',(pros)=>{
        
            let q=''
        
            $('#main').empty()
            
            for(let i=0;i<pros.length;i++){
                
            q+=`<div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 col-xs-10">
                
            <div class="card box pt-1" style="width: 18rem;"><div class="item">
            <img class="card-img-top" src="${pros[i].imgurl}" style="width:100%" alt="Card image cap">
            <div class="card-body" pid="${pros[i].id}" name="${pros[i].name}" vendor="${pros[i].vendor}" price="${pros[i].price}" cat="${pros[i].cat}">
                <h5 class="card-title">${pros[i].name}</h5>
                <p class="card-text">Vendor- ${pros[i].vendor}</p>
                <p class="card-text">Price- ${pros[i].price}</p>
                <p class="card-text">Category- ${pros[i].cat}
                </p>`
                if(pros[i].outofstock){
                    q+=`<button class="btn btn-danger" disabled>Out of stock</button>`
                }
                else{
                    q+=`<button class="btn btn-primary" onclick="addtocart(this)">Add to cart</button>`
                }
                
            q+=`</div>
            </div></div>
            <br/>
        </div>`
            }
            
            $('#main').append(q)
        })
            $.get('/allcats',(cats)=>{
             let p=''
             for(let i=0;i<cats.length;i++){
                 p+=`<option>${cats[i].catName}</option>
                 `
             }
             $('#srch').append(p)
         })
          window.addtocart=function(e){
                console.log(`pid=${$(e).parent().attr('pid')}`)
            $.get(`/addcart?pid=${$(e).parent().attr('pid')}&uid=${$('#uid').text()}&name=${$(e).parent().attr('name')}&vendor=${$(e).parent().attr('vendor')}&price=${$(e).parent().attr('price')}&cat=${$(e).parent().attr('cat')}`,(something)=>{
                console.log(something)
            })
         }
        })()
        window.delnot=function(el,i){
            $(el).parent().remove()
            $.get(`/delnot?id=${i}`,(x)=>{})
        }
        window.clrnots=function(el){
            $(el).parent().remove()
            $.get(`/clearnots?id={{user.id}}`,(x)=>{})
        }
        
        $.get('/getnots?uid={{user.id}}',(nots)=>{
            if(nots.length==0){
                
            }
            else{
                $('#noti').css('color','yellow')
                str=''
                for(let i=0;i<nots.length;i++){
                    str+=`<a class="dropdown-item" href="#">${nots[i].message}&nbsp;&nbsp;&nbsp;<i class="fa fa-times" style="color:red" onclick=delnot(this,${nots[i].notid})></i></a>
                    `
                }
                $('#dropdown').append(str)
            }
        })
        $('#lgout').click(function(){
            $.get('/user/logout',()=>{

            })
        })
       $('#srchbtn').click(function(){
           $('#srchmain').empty()
           $.get(`/getbycat?catname=${$('#srch').val()}`,(pros)=>{
               let y=''
               if(pros.length==0){
                   $('#srchtxt').text('No items match your search')
               }
               else{
                   $('#srchtxt').text('Search results')
               }
               for(let i=0;i<pros.length;i++){
                   y+=`<div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 col-xs-10">
            <div class="card box pt-1" style="width: 18rem;">
            <div class="item"><img class="card-img-top" src="${pros[i].imgurl}" style="width:100%" alt="Card image cap">
            <div class="card-body" pid="${pros[i].id}" name="${pros[i].name}" vendor="${pros[i].vendor}" price="${pros[i].price}" cat="${pros[i].cat}">
                <h5 class="card-title">${pros[i].name}</h5>
                <p class="card-text">Vendor- ${pros[i].vendor}</p>
                <p class="card-text">Price- ${pros[i].price}</p>
                <p class="card-text">Category- ${pros[i].cat}
                </p>`
                if(pros[i].outofstock){
                    y+=`<button class="btn btn-danger" disabled>Out of stock</button>`
                }
                else{
                    y+=`<button class="btn btn-primary" onclick="addtocart(this)">Add to cart</button>`
                }
                
            y+=`</div>
            </div></div>
            <br/>
        </div>`
               }
               $('#srchcon').css('visibility','visible')
               $('#srchmain').html(y)
           })
       })
         $('#drop').click(function(){
             $('#noti').css('color','white')
         })
         $('#psrchbtn').click(function(){
             $.get(`/psrch?substr=${$('#prodsrch').val()}`,(pros)=>{
                 console.log(pros)
                 let y=''
                 if(pros.length==0){
                   $('#srchtxt').text('No items match your search')
               }
               else{
                   $('#srchtxt').text('Search results')
               }
               for(let i=0;i<pros.length;i++){
                   
                    y+=`<div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 col-xs-10">
            <div class="card box pt-1" style="width: 18rem;">
            <div class="item"><img class="card-img-top" src="${pros[i].imgurl}" style="width:100%" alt="Card image cap">
            <div class="card-body" pid="${pros[i].id}" name="${pros[i].name}" vendor="${pros[i].vendor}" price="${pros[i].price}" cat="${pros[i].cat}">
                <h5 class="card-title">${pros[i].name}</h5>
                <p class="card-text">Vendor- ${pros[i].vendor}</p>
                <p class="card-text">Price- ${pros[i].price}</p>
                <p class="card-text">Category- ${pros[i].cat}
                </p>`
                if(pros[i].outofstock){
                    y+=`<button class="btn btn-danger" disabled>Out of stock</button>`
                }
                else{
                    y+=`<button class="btn btn-primary" onclick="addtocart(this)">Add to cart</button>`
                }
                
            y+=`</div>
            </div></div>
            <br/>
        </div>`
               }
               $('#srchcon').css('visibility','visible')
               $('#srchmain').html(y)
             })
         })
    })
</script>
</body>
</html>